*{
     margin: 0;
     padding: 0;
}
.itens-cabecalho{
     background-color:019367;
color: black;
display: flex ;
justify-content: space-around
align-items:center;

}
     .cabecalho-imagem{
          width: 20%
     }
     .cabecalho-lista-item{
          display: inline-block;
          margin: 0 16;
          font-size: 24px;
     }